
h1{ 
    color:black;
    border: 1px #9c0606;
    font-weight: bold;
    text-align: center;
}
h2{
    color: #9c0606;
    text-align: center;
}
p {
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: space-around;
}
body{
    background-color: burlywood; 
}